.popup_opened {
  display: block;
}

.popup_opened::before {
  content: "";
  background-color: #000000;
  opacity: .5;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
