.profile__name-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 16px;
}

@media screen and (max-width: 475px) {
  .profile__name-container {
    margin-bottom: 14px;
  }
}
